.containerCCDC {
    text-align: start;
    padding: 10px;
}
.textNomorKartu {
    font-size: 13px;
    text-align: start;
    padding-top: 5px;
    margin-bottom: 5px;
}
.containerRowForMonthAndYearCvv {
    padding-top: 10px;
    width: 100%;
    margin: 0px;
}
.containerColSixMonthYearCvv {
    padding: 0;
}
.textValidPeriod {
    font-size: 13px;
    text-align: start;
    padding-top: 5px;
    margin-bottom: 5px;
}
.changeRowCssMonthYearCvv {
    width: 100%;
}
.reDevineColFiveForCCDC {
    margin: 0;
    padding: 0;
    padding-right: 5px;
}
.reDevineColOneForCCDC {
    margin: 0;
    padding: 0;
}
.reDevineInputForMonthYear {
    padding: 5px;
}
.forGarisMiringCcDc {
    padding: 0;
    margin: 0;
}
.reDevineColSixForCCDC {
    margin: 0;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
}
.reDevineColEightForCcDc {
    margin: 0;
    padding: 0;
    padding-right: 5px;
}
.reDevineColFourForCcDc {
    margin: 0;
    padding: 0;
    align-self: center;
    text-align: center;
}
.imageSizeCvv {
    width: 50%;
    height: auto;
}
.textForButtonCcDc {
    font-size: 13px;
    font-weight: bold;
    margin: 5px;
}