* {
  padding: 0;
  margin: 0;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.titleOne {
  font-size: 13px;
  font-weight: bold;
  padding-top: 10px;
}

.titlePaymentSuccess {
  font-size: 18px;
  font-weight: bold;
  padding-top: 0;
  text-align: center;
  margin-bottom: 0;
}

.contentPaymentSuccess {
  font-size: 13px;
  font-weight: bold;
  padding-top: 0;
  text-align: center;
  margin-bottom: 0;
}
.textButton {
  font-size: 13px;
  font-weight: bold;
  margin: 5px;
}
.stickyDiv {
  margin-left: 20px;
  width: 100%;
  text-align: center;
  top: 0;
  position: sticky;
  padding-bottom: 15px;
}
.containerLoading {
  height: 100vh;
  text-align: -webkit-center;
  padding-top: 45vh;
  background-color: lightgray;
}

@media screen and (max-width: 450px) {
  .titlePaymentSuccess {
    font-size: 13px;
    font-weight: bold;
    padding-top: 0;
    text-align: center;
    margin-bottom: 0;
  }
  .contentPaymentSuccess {
    font-size: 10px;
    font-weight: bold;
    padding-top: 0;
    text-align: center;
    margin-bottom: 0;
  }
  .textButton {
    font-size: 10px;
    font-weight: bold;
    margin: 5px;
  }
  .stickyDiv {
    margin-left: 0px;
    width: 100%;
    text-align: center;
    top: 0;
    position: sticky;
    padding-bottom: 15px;
  }
}

.success-page {
  max-width: 300px;
  display: block;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(50%);
}
.success-page img {
  max-width: 120px;
  display: block;
  margin: 0 auto;
}

.btn-view-orders {
  display: block;
  border: 1px solid #47c7c5;
  width: 100px;
  margin: 0 auto;
  margin-top: 45px;
  padding: 10px;
  color: #fff;
  background-color: #47c7c5;
  text-decoration: none;
  margin-bottom: 20px;
}

.h2-title {
  color: #47c7c5;
  margin-top: 25px;
}
a.link {
  text-decoration: none;
}
